* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main stylling */
body {
  font-family: 'open sans', sans-serif;
  line-height: 1.7rem;
  color: #333;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
h1,h2 {
  font-weight: 300;
  line-height: 1.2rem;
}
h3 {
  font-weight: 400;
}
p {
  margin: 10px 0;
}
img{
  width: 100%;
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 30px;

}
.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px solid #28a745;
}
.navbar ul {
  display: flex;
}
.navbar .logo {
  font-weight: 400;
}
/* Header */
#hero {
  position: relative;  
  background: url(../img/home/showcase.jpg)no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}
#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background: rgba(0,0,0,0.6);
}
#hero * {
  z-index: 10;
}
#hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  overflow: hidden;
}
.content h1 {
  font-size: 3.5rem;
  margin-bottom: 3rem;

}
.content p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
/* about */
.icons {
  padding: 30px;

}
.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
.icons i {
  background: #28a745;
  padding: 1rem;
  margin-bottom: 15px;
  border-radius: 50%;
  color: #fff;
}
/* section cases */
.cases img:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* teams info */
.team img {
  border-radius: 50%;
  margin-bottom: 1rem;
}
/* contact callback form*/
.callback-form {
  width: 100%;
  padding: 20px 0;
}
.callback-form .form-control {
  margin-bottom: 1rem;
}
.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: 1px solid #f5f5f5 ;
}
.callback-form input:focus {
  outline-color: #28a745;
}
.callback-form .btn {
  padding: 12px 0;
  margin-bottom: 20px;
}
/* footer */
.footer {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}
.footer a{
  color: #fff;

}
.footer a:hover {
  color: #28a745;
}
.footer .social > * {
margin-right: 30px;
}
